<ul>
  <li><span>{{business_name}}</span></li>
  <li><span>Phone:</span> {{business_phone}}</li>
  <li><span>Address:</span> {{business_address}}</li>
  <li><span>Reviews count:</span> {{business_reviews_count}}</li>
</ul>
